<section>
  <div class="main-title">
    <div class="main-role-requirement">
      <div>
        <h1 class="title-head">Define your role requirements.</h1>
        <h3 class="title-desc">
          The following exercises are used to identify critical factors for
          success in this role. Completing the exercises will also help you and
          your team effectively assess and interview candidates.
        </h3>
        <hr />
        <span class="contactTitle">FOR QUESTIONS CONTACT</span>
        <br />
        <span class="contactInfo">Sally Thompson</span>
        <br />
        <span class="contactInfo">Managing Consultant</span>
        <br />
        <span class="contactInfo">+1 310 555 1212</span>
        <br />
        <span class="contactInfo">Sally.thompson@kornferry.com</span>
      </div>
    </div>

    <div class="flex-3-cols">
      <div class="role-requirement">
        <h1 class="title-head">Competencies</h1>
        <h3 class="jobProfileDescription">
          Prioritize the most important skills needed for the position.
        </h3>
        <button (click)="goToCompetency()" class="mat-raised-button">
          Start
        </button>
      </div>
      <div class="role-requirement">
        <h1 class="title-head">Job Analysis</h1>
        <h3 class="jobProfileDescription">
          Prioritize the most important skills needed for the position.
        </h3>
        <button (click)="goToCompetency()" class="mat-raised-button">
          Start
        </button>
      </div>
      <div class="role-requirement">
        <h1 class="title-head">Company Culture</h1>
        <h3 class="jobProfileDescription">
          Prioritize the most important skills needed for the position.
        </h3>
        <button (click)="goToCompetency()" class="mat-raised-button">
          Start
        </button>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
